<%= link_to 'Add new restaurant', new_restaurant_path, class: 'btn btn-danger' %>

<h1>All the restaurants:</h1>

<ol>
  <% @restaurants.each do |r| %>
  <li>
    <%= link_to restaurant_path(r) do %>
    <h2><%= r.name %></h2>
    <% end %>
    <p>Location: <%= r.address %></p>
    <p>Type: <%= r.category %></p>
  </li>
  <% end %>
</ol>
